# Default to autodetect textiness
* text=auto

# Specific settings
# Text files
*.css         text
*.erb         text
*.feature     text
*.htaccess    text
*.html        text
*.js          text
Gemfile*      text
*.log         text
*.md          text
*.rake        text
*.rb          text
*.rjs         text
*.ru          text
*.scss        text
*.txt         text
*.yml         text

*.eot         binary
*.ttf         binary
*.woff        binary
*.gif         binary
*.ico         binary
*.jpg         binary
*.pdf         binary
*.png         binary
*.sqlite3     binary
*.svg         binary

text eol=lf
