    /* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  }*/
  
	/*#flash
	{
		position: fixed;
		top: 0;
		left: 0;
		margin: 5px 10px;
		width: 100%;	
		z-index: 100;
		background-color: white;	
	}*/

  table
  {
    border-collapse: collapse;
  }
	table.player > tr > th,
  table.player > tbody > tr > th 
  {
    text-align: right;
  }

  table.hand,table.revealed,table.choices
  {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    border-spacing: 0px;
  }
	table.peeked 
	{
		display: inline-block;
		vertical-align: middle;
		padding: 2px;
		padding-left: 0;
	}
  td, th
  {
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    border-width: 0px;
    border-spacing: 0px;
    height: 100%;
  }
  table.hand td,table.play td,table.revealed td,table.choices td,table.choices th
  {
    margin: 0px;
    border: thin dotted;
    padding: 1px;
  } 
  tr { height: 100%; }
  tr.other_players > td
  {
    margin: 10px;
    padding: 10px;
  }		
	
	.overlay
	{
		position: fixed;		
		background-color: black;
		filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
	}
  
	#resultOverlay
	{
		z-index: 1000;
		top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
	
	#result
	{
		position: absolute;
		/*height: 450px;*/
		width: 450px;
		top: 50%;
		left: 50%;
		margin-top: -180px;
		margin-left: -225px;
		background-color: white;
		z-index: 2000;
	}
    #result .header
		{
			font-size: 30px;
			color: red;	
			margin: 30px;		
		}

		#resultList
		{
			list-style-type: none;
			text-align: center;
			margin: 0px auto;
			display: inline;
			padding: 0;
		}
      #resultList .resultEntry { margin: 2px; }
			#resultList .winner { font-size: larger; }
			  #resultList .resultEntry .name { font-weight: bold;}
				
  #spinner
	{
		position: fixed;
		top: 4em;
		right: 0;
		z-index: 2000;
	}				 
	
  #gameStartSpinner
	{
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -50px;
		z-index: 1000;
	}	
	
	.showHideDeck
	{
		color: grey;
	}	
		
	#game
	{
		height: 100%;
	}

optgroup {
  color:gray;
  font-weight:normal;
  text-decoration:none;
}

option {
  color: black;
}

.indented-left {
  padding-left: 5px;
}

.underlined {
	text-decoration: underline;
}
