<div id="contact" class="details-page">
	<h1>Feedback</h1>
	<p>
		I'd love to hear from you if you have any comments regarding FreeDom. Perhaps there's a feature you'd like to see added. Maybe you need some help figuring out how
		to use the server. Maybe you've even found a bug (in which case - sorry)!  
	</p>
	<p>
		For all these things, the best way to leave feedback is on <a href="http://www.toothycat.net/wiki/wiki.pl?FreeDom">FreeDom's ToothyWiki page</a>. 
		Simply edit the page to leave your comment.
	</p>
	<p>
		If a game you're playing in has developed a bug which prevents you from continuing to play, please supply the URL of the game (or its name), a brief description of the problem,
		and (if possible) an estimate of when the problem occurred (this will help me debug the cause). In many cases, I'll be able to fix up the game-state to allow the game to 
		continue (although please note that it may take a little time).
	</p>
</div>
