<div>
	<h1>
		Registration successful!
	</h1>
	<p>
		Great, your registration succeeded. You should be receiving a welcome email to <%= @user.email %> shortly, but you're good to go already!
		
		If you want, take a moment to set your <%= link_to 'preferences', settings_path %>. Then, why not drop by the <%= link_to 'main page', games_path %> and join a waiting game, or start a new one?
	</p>
</div>
