<td>
  <% classes = card.varieties.join(" ") -%>
  <% inner_content = card.readable_name -%>
  <% inner_content << tag('br') + '(Princed)' if card.location == 'play' &&
                                                  card.player.cards.in_location('prince').of_type('PromoCards::Prince').any? { |p| p.state[:princed_id] == card.id } -%>
  <% content = content_tag(:div, inner_content.html_safe, :class => "content") +
               content_tag(:div, nil, :class => "bg left") +
               content_tag(:div, nil, :class => "bg right") -%>
  <%= content_tag(:div, content, :class => "container " + classes, :title => card.text) -%>
</td>