$action-cream: #fefea0;
$reaction-blue: #87cefa;
$duration-orange: #ffa500;
$treasure-yellow: #ffd700;
$victory-green: #00e000;
$curse-purple: #ba55d3;
$attack-red: #f00;
$artifact-brown: #e38a3c;
$project-pink: #f99891;

$card-back-blue: $reaction-blue;
$dark-blue: darkblue;
$ground-grey: #eeeeee;
$empty-pile-red: #dd7e7e;

// Player colours for the journal log
$player-backgrounds: (
  player0: #fcc,
  player1: #ffd,
  player2: #cfc,
  player3: #dff,
  player4: #ddf,
  player5: #fdf,
);

// Non-game related colours
$error-red: #d00;
