$action-cream: #fefea0;
$reaction-blue: #87cefa;
$duration-orange: #ffa500;
$treasure-yellow: #ffd700;
$victory-green: #00e000;
$curse-purple: #ba55d3;
$attack-red: #ff0000;

$card-back-blue: $reaction-blue;
$dark-blue: darkblue;
$empty-pile-red: #dd7e7e;

// Player colours for the journal log
$player-backgrounds: (
  player0: #ffcccc,
  player1: #ffffdd,
  player2: #ccffcc,
  player3: #ddffff,
  player4: #ddddff,
  player5: #ffddff,
);

// Non-game related colours
$error-red: #dd0000;
