button,
[type=button],
.button {
  &:not(.unstyle) {
    box-shadow: grey 5px 5px 8px;
    border-radius: 5px;
    position: relative;

    &:active {
      top: 3px;
      left: 3px;
      box-shadow: grey 2px 2px 5px;
    }
  }
}

button.play-action,
[type=button].play-action {
  background-color: $action-cream;
  color: $black;
}

button.play-treasure,
[type=button].play-treasure {
  background-color: $treasure-yellow;
  color: $black;
}

.card-ctrl input[type=checkbox] {
  margin-top: 0.85rem;
}

.player-buttons {
  button {
    margin: 0 0 20px 20px;
  }
}