input[type=checkbox] {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

fieldset {
  max-width: 1000px;
  border: 1px solid $border-colour;
  border-radius: 5px;
  padding: 0 10px 5px;
  margin: 5px 0;

  legend {
    padding: 0 5px;
    border: inherit;
    border-radius: inherit;
  }

  .field {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;

    label {
      flex: 0 0 10em;
      text-align: right;
      padding-right: 1em;
    }

    input:not([type]), input[type=text], input[type=password], input[type=email] {
      flex: 0 1 20em;

      &:focus {
        background-color: $bg-blue;
      }

      &.short {
        flex: 0 1 3em;

        + .unit {
          margin-left: 0.5em;
        }
      }
    }
    input[type=checkbox] {
      height: 1em;
      flex: 0 0 1em;
    }

    // Provide bigger tap areas when the screen is smallish
    @include when-smaller-than(medium) {
      input {
        height: 2em;
      }
    }
  }

  .field_with_errors
  {
    display: inline; background-color: inherit; padding: 0;
    label {color: darkred;}
    input, select {background-color: $bg-error;}
  }
}

#errorExplanation {
  max-width: 1000px;
  margin: 1em 0;
  border: 2px solid red;
  padding: 7px;
  background-color: $bg-grey;

  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  ul {
    list-style: disc inside;
  }
}