// Override hr top margin when following a checkbox (which has bottom margin built in)
input[type=checkbox] ~ hr {
  margin-top: 0;
}

form.inline, form .inline {
  display: inline;
  max-width: 20%;
}

.help-text a {
  text-decoration: underline;
}

.form-errors {
  margin-bottom: 1em;
  padding: 1em;
}
