// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#games-list {
  .name-column {
    width: 100%;
  }

  .game-list-section {
     h1 {
      font-size: 2rem;
     }
     h2 {
      font-size: 1.5rem;
     }
  }

  // Allow the game-name link to be as much of the table-cell as possible
  td {
    padding: 0;

    > a {
      display: block;
    }

    > a, > form {
      padding: $table-padding;
    }
  }

  .game-id, .game-name {
    display: inline-block;
  }
  .game-id {
    width: 4em;
  }
}

.empty-list {
  background-color: lighten($light-gray, 5%);
  border: 1px solid $medium-gray;
  text-align: center;
  padding: 1em;
  font-size: 1.4rem;
}

#new_game {
  .random-name {
    font-style: normal;
    font-weight: bold;

    body.js-active & {
      cursor: pointer;
    }
  }

  .card-select-row {
    .pile-select {
      display: inline-block;
      width: calc(100% - 5em);
    }
    .delete-card_shaped {
      display: inline-block;
      margin: 0 0 0 1em;
    }
  }
}

main.game-view {
  background-color: $white;
}

#game-title {
  text-align: center;
}

#discord-report {
  text-align: center;
}

.cost-text {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;

  background-color: $treasure-yellow;
  border-radius: 50%;
}

.turn-status, .tokens {
  margin-top: 10px;

  .counts, .cash {
    display: table-cell;
    position: relative;
  }

  .cost-text {
    position: absolute;
    top: calc(50% - 15px);
    left: 15px;
  }
}

.player:not(:last-child) {
  border-right: 1px solid $dark-gray;
}

#game-summary {
  margin-left: 10px;

  .player-deck {
    margin-left: 10px;
  }
}