#journal-log {
  @each $player, $colour in $player-backgrounds {
    .#{$player} {
      background-color: $colour;
    }
  }

  li.main-journal {
    padding-left: 24px;
    position: relative;
  }

  ul.sub-histories {
    margin-left: 8px;

    li {
      padding-left: 8px;
    }
  }

  .error-journal {
    color: $error-red;
    font-style: italic;
  }
}

.undo-button {
  position: absolute;
  left: 4px;
  top: 4px;
  height: 16px;
  width: 16px;

  .undo-arrow {
    height: 16px;
    width: 16px;
    transform: rotate(45deg);
    transition: all 0.1s ease-in;

    &:hover {
      transform: rotate(45deg) scale(1.2);
      fill: $dark-blue;
    }

    .error-journal & {
      fill: $error-red;
    }
  }
}