@import "colours";

$header-height: 230px;

.lighter {font-weight: normal; color: #ccc;}

@mixin when-smaller-than($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 650px) { @content; }
  }
  @else if $breakpoint == medium {
    @media
      (max-width: 980px),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx)
    { @content; }
  }
}

@mixin bg-gradient($from_loc, $to_loc, $from_c, $to_c, $fstop: 0%, $tstop: 100%) {
  background-color: $from_c;
  background-image: linear-gradient(to $to_loc, $from_c $fstop, $to_c $tstop);
}

@mixin card_grad($from, $to, $fstop: 30%, $tstop: 70%) {
  background-color: $from;
  background-image: linear-gradient(to right, $from $fstop, $to $tstop);
}

@mixin candy_stripe($col1, $col2) {
  background-color: $col1;
  background-image: linear-gradient(-45deg, $col1, $col2, $col1, $col2, $col1);
  background-size: 50px 50px;
}