//@import "compass/reset";
@import "normalize";
@import "compass/css3/box-sizing";
@import "fonts";
@import "mixins";
@import "sassybuttons";

@import "form-styles";

.design {
  border: 1px solid blue;
}

* {
  @include box-sizing(border-box);
}

html {
  line-height: 1.2;
}

body {
  //font-size: 16px;
  padding: 0.5em 2em 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   $base-font-size;
  line-height: 18px;
}

p { margin: 0.5em 0; }

p, span {
  &.left { float: left; }
  &.right { float: right; }
  &.light { color: grey; }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;

  &.unobtrusive {
    font-weight: normal;
    font-size: smaller;
  }
}

button, input[type=button], input[type=submit], a.button {
  @include sassy-button;
  font-family: inherit;

  &.danger {
    @include sassy-button-gradient('matte', $error-colour)
  }
  &.play {
    @include sassy-button-gradient('matte', $good-colour)
  }

  @include when-smaller-than(medium) {
    min-height: 40px;
  }
}

a.button {
  font-weight: normal;
  font-style: normal;

  @include when-smaller-than(medium) {
    height: auto;
    line-height: 30px;
  }
}

#site-logo {
  padding: 0 10px;
  margin-top: 2em;
  background-color: $logo-colour;
  background-image: linear-gradient(to left top, #fff 10%, $logo-colour, #fff 90%);
  border: 3px outset $logo-text-colour;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-style: normal;

  h1, h2 {
    margin: 0;
    font-family: 'CloisterBlackLight';
    font-weight: normal;
    line-height: 1em;
  }
  h1{
    font-size: 4em;
    color: blue;
  }
  h2 {
    font-size: 1.5em; color: blue;
    margin-bottom: 2px;
  }

  @include when-smaller-than(small) {
    width: 100%;
    text-align: center;
  }
}

#games-rankings {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  * {
    margin: 0;
    font-family: 'CloisterBlackLight';
    font-weight: normal;
    line-height: 1em;
    font-size: 2em;
    flex: 0 1 auto;
  }
}

#userInfo
{
  position: fixed;
  z-index: 1501;
  top: 0;
  right: 0;
  padding: 0 5px 0 10px;
  height: 1.6em;
  background-color: $accent-colour;
  text-align: right;
  border-bottom-left-radius: 1em;

  .name::after { content: ' | '; }

  @include when-smaller-than(small) {
    position: relative;
    margin-top: 2px;
    width: 100%;
    text-align: center;
    border-radius: 0;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 0;

    .name {
      &::after { display: none; }
      flex: 0 0 100%;
      vertical-align: middle;
      height: 20px;
      line-height: 20px;
      background-color: $accent-colour;
    }

    a {
      border: 2px solid white;
      height: 40px;
      line-height: 40px;
      flex: 1 0 48%;
      color: black;
      text-decoration: none;
      text-transform: capitalize;

      &.left {
        border-left: 0;
        border-right-width: 1px;
      }
      &.right {
        border-right: 0;
        border-left-width: 1px;
      }
      &:active {
        background-color: darken($accent-colour, 20%);
      }
    }

    .verbose {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

footer {
  border-top: 1px solid $border-colour;
  margin-top: 1em;
}

#tooltip
{
  text-align: center;
  color: #fff;
  $tooltip-bg-colour: $logo-text-colour;
  @include bg-gradient(top, bottom, lighten($tooltip-bg-colour, 10%), $tooltip-bg-colour);
  position: absolute;
  z-index: 100;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

  &::after /* triangle decoration */
  {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $tooltip-bg-colour;
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      margin-left: -10px;
  }

  &.top:after
  {
      border-top-color: transparent;
      border-bottom: 10px solid $tooltip-bg-colour;
      top: -20px;
      bottom: auto;
  }

  &.left:after
  {
      left: 10px;
      margin: 0;
  }

  &.right:after
  {
      right: 10px;
      left: auto;
      margin: 0;
  }
}

.centred {
  text-align: center;
}
.gapAbove {padding-top: 5px;}