html, body 
{ 
  height: 100%;
  margin: 0;
  padding: 0; 
}

p 
{
  margin: 0;
}
  
fieldset.user
{
  max-width: 1000px;
}

.centred
{
  text-align: center;
}
.bottom
{
  position: absolute; 
  bottom: 0px; 
  width: 100%;
}
.inline { display: inline;}
.hidden {display: none;}