#explain_ranking
{
  padding-left: 1em;
  max-width: 70em;
  text-align: justify;

  p {
    margin-top: 5px;
    line-height: 15px;
  }

  dl {
    margin-top: 5px;
  }
  dt {
    margin-top: 0.5em;
    font-weight: bold;
  }
  dd {
    margin-left: 3em;

    em {
      font-style: italic;
    }
  }
}

table.tablekit {
  border-collapse: collapse;
  table-layout: fixed;

  td, th {
    padding: 0.5em;
    border: 1px solid #CCC;
    /*white-space: nowrap;
    overflow: hidden;*/
  }

  /*th {
     white-space: pre;
  }*/

  thead, tfoot {
    background-color: #ccf;
  }

  tr.rowodd {
    background-color: #F0F0Ff;
  }

  tr.roweven {
    background-color: #e8e8Ff;
  }

  .sortcol {
    cursor: pointer;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .sortasc {
    background-color: #DDFFAC;
    background-image: image-url('up.gif');
  }
  .sortdesc {
    background-color: #B9DDFF;
    background-image: image-url('down.gif');
  }
  .nosort {
    cursor: default;
  }
}

.thisVal, .lastVal {
  display: inline-block;
}

.thisVal {
  margin-right: 0.5em;
}
.lastVal
{
  .arrow
  {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: image-url('arrows.png');
    vertical-align: middle;
    margin-left: -5px;
  }

  .same {}
  .up { background-position: -15px 0; }
  .down { background-position: -30px 0; }
}