.explain
{
	margin: -1px 0 1px 2.5em;
	font-style: italic;
}


dl {margin: 0;}
dt {font-weight: bold;}

#explain_ranking
{
	padding-left: 1em;
	width: 70em;
	text-align: justify;

	p {margin-top: 5px; line-height: 15px;}
	dl {margin-top: 5px;}
}

.field { margin-top: 10px; }
