@import "mixins";

.explain {
  font-size: 0.9em;
  padding-top: 0.2em; // Compensate for text size
  font-style: italic;
  color: $explain-colour;
}

.underline {
  text-decoration: underline;
}

.expansion-settings {
  margin-bottom: 0.5em;

  h1 {
    text-decoration: underline;
  }

  .field {
    margin: 5px 0;
  }

  .explain + .field {
    margin-top: 10px;
  }

  .explain:last-child {
    margin-bottom: 10px;
  }
}