.explain
{
	margin: -1px 0 1px 2.5em;
	font-style: italic;
}

#explain_ranking
{
	padding-left: 1em;
	width: 70em;
	text-align: justify;
}

#explain_ranking p {margin-top: 5px; line-height: 15px;}

dl {margin: 0;}
#explain_ranking dl {margin-top: 5px;}
dt {font-weight: bold;}
