doctype html
html
  head
    meta[http-equiv="content-type" content="text/html;charset=UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      = @full_title || ("Dominion - " + (@title ? @title : controller.action_name.capitalize))
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = favicon_link_tag
    - if protect_against_forgery?
      javascript:
        var AUTH_TOKEN = '#{raw form_authenticity_token}';
    = content_for :js_in_head
    javascript:
      if (typeof(onLoadFunc) != "undefined") $(onLoadFunc);
  body
    - if session[:user_id].nil?
      #userInfo Welcome, Guest. Please #{link_to "login", login_path} or #{link_to "register", new_user_path}
    - else
      - user = User.find(session[:user_id])
      #userInfo Welcome, #{user.name} | #{link_to_unless_current "Preferences", settings_path} | Not #{user.name}? Please #{link_to "logout", logout_path}
    #contentWrap
      = link_to(games_path, :id => "siteLogo") do
        h1 FreeDom
        h2 Free Dominion Game Server
      #flash= render 'flash_area'
      #mainContent= yield
    #footer== [link_to("Home", games_path), link_to("About", about_path), link_to("Feedback", contact_path)].join(' | ')
